@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 176px;
    background-color: #000000;
}
.header-logo{
    cursor: pointer;
}

.header-menu, .header-icons{
    display: flex;
}
.header-menu a{
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin-right: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFF500;
}

.header-menu a:hover{
    color: white;
}

.header-icons li{
    cursor: pointer;
    margin-right: 50.98px;
}

